<ion-header>
  <ion-navbar color="primary">
    <button color="light" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pass the Keys</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>LONDON AIRBNB MANAGEMENT </h2>
  <h3>Pass the keys</h3>

  <button (click)="gotoOffice()">Visit us!</button>

  <p>
    Pass the Keys is a premier London Airbnb Management Company.
    We provide a full hospitality package to significantly boost your rental income.
    You choose dates, we do the rest.
  </p>

</ion-content>
